<footer id="footer" class="site-footer tw-relative tw-z-10 has-mode mode-light">
    <div class="footer-info footer-info-2 tw-py-6 md_tw-py-12 lg_tw-py-16">
        <div class="tw-container md_tw-text-center">
            <div class="footer-copyright tw-text-sm"> © 2020 by
                <a href="#"> Judo Clothes </a></div>
        </div>
    </div>
</footer>