<footer class=" page-footer font-small bg-dark pt-4 mt-5 ">

    <!-- Footer Elements -->
    <div class="container">

        <!--Grid row-->
        <div class="row text-light">

            <!--Grid column-->
            <div class="col-md-5 mb-4">

                <!-- Form -->
                <form class="form-inline text-light">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                        aria-label="Search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </form>
                <!-- Form -->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-7 mb-2">
                <a style="font-family: 'Quicksand', sans-serif;">Your satisfaction is
                    important to us. Have a
                    wonderful day ! See you again
                    soon. </a>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="text-center text-light py-3">© 2020 by
        <a href="#"> Judo Clothes </a>
    </div>
    <!-- Copyright -->

</footer>