<header id="site-header" class="site-header tw-text-strong tw-relative tw-z-30 tw-w-full">
    <div class="site-header-mobile tw-bg-surface ">
        <div class="header-mobile tw-h-16 header-mobile-sticky header-visible">
            <div class="tw-container tw-h-full">
                <div class="tw-flex tw-items-center tw-h-full"> <a href="#" data-toggle="drawer"
                        class="tw-text-strong hover_tw-no-underline"> <i class="fa fa-bars"></i> </a>
                    <div class="site-branding tw-text-center tw-flex-1 tw-px-6"> <a class="site-logo tw-inline-block"
                            href="#"
                            style="font-family: 'Sacramento', cursive;font-size: 70px;font-weight: bold; padding-top: 25px;color: black;">
                            Judo Blog</a></div> <a href="#" data-toggle="search"
                        class="tw-text-strong hover_tw-no-underline tw-ml-auto">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- search box -->
<div id="search-dialog"
    class="search-dialog has-mode mode-dark tw-fixed tw-z-50 tw-overflow-hidden tw-inset-0 tw-invisible">
    <div
        class="search-dialog-inner tw-fixed tw-inset-0 tw-flex tw-items-center tw-opacity-0 tw-transition-opacity tw-transition-200 tw-transition-ease">
        <div class="tw-bg-black tw-opacity-95 tw-absolute tw-inset-0"></div>
        <div class="tw-container tw-max-w-xl lg_tw-max-w-3xl tw-relative tw-z-10">
            <form role="search" method="get" action="#" class=""> <input type="search"
                    class="tw-block tw-w-full tw-bg-transparent tw-text-white tw-border-b-2 tw-border-white tw-px-0 tw-py-2 tw-text-2xl focus_tw-outline-none focus_tw-border-accent tw-mb-2"
                    placeholder="Search …" name="s" value="" autocomplete="off">
                <p class="tw-text-sm tw-text-right tw-font-medium"> Hit enter to search or ESC to close.</p>
            </form>
        </div> <span
            class="search-dialog-close tw-cursor-pointer tw-absolute tw-top-0 tw-right-0 tw-mt-4 tw-mr-4 md_tw-mt-6 md_tw-mr-6 hover_tw-text-strong hover_tw-no-underline"><i
                class="fa fa-close"></i></span>
    </div>
</div>
<!-- end search box -->