<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body class="p-0">
  <div class="container pt-2 ">
    <div class="row ">
      <div class="col-6">
        <a class="navbar-brand float-left border border-info text-dark text-center" href="/" style="width: 120px;">
          <span class="font-weight-bold">Admin</span>LTE</a>
      </div>
      <div class="col-6">
        <ul class="nav justify-content-end transparent ">

          <li class="nav-item">
            <a class="nav-link active text-decoration-none text-dark font-weight-bold" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-decoration-none text-secondary" href="#">Docs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-decoration-none text-secondary" href="https://dashboardpack.com/">Premium
              Templates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-decoration-none text-secondary" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-decoration-none text-secondary" href="#">Subscribe</a>
          </li>
        </ul>
      </div>
    </div>

  </div>



  <div class=" pt-5 pb-3" style="display: block;">
    <div class="container">
      <h2 class="text-center" style="margin-bottom: 40px"><b>Admin</b>LTE Features</h2>

      <div class="row text-center pb-3 ">
        <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
          <div class=" ">
            <i class="fa fa-css3 text-black-50 fa-2x"></i>
            <h4 class="font-weight-normal text-dark">HTML5 &amp; CSS3</h4>

            <p>
              Verified HTML5 and CSS3 syntax by W3C services.
            </p>
          </div>
        </div>
        <!-- /.item -->

        <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
          <div class=" ">
            <i class="fa fa-mobile text-black-50 fa-2x"></i>
            <h4 class="font-weight-normal text-dark">Responsive Design</h4>

            <p>
              Mobile first design. Fits many resolutions, from
              large desktops to small mobile devices.
            </p>
          </div>
        </div>
        <!-- /.item -->
        <div class=""></div>
        <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
          <div class=" ">
            <i class="fa fa-rocket text-black-50 fa-2x"></i>
            <h4 class="font-weight-normal text-dark">1000+ Icons</h4>

            <p>
              Featuring Font Awesome, Ion Icons, and Glyphicons.
            </p>
          </div>
        </div>
        <!-- /.item -->
        <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
          <div class=" ">
            <i class="fa fa-paint-brush text-black-50 fa-2x"></i>
            <h4 class="font-weight-normal text-dark">6 Skins</h4>

            <p>
              Choose a skin that matches your branding or
              edit the LESS variables to create your own.
            </p>
          </div>
        </div>
        <!-- /.item -->
        <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
          <div class=" ">
            <i class="fa fa-print text-black-50 fa-2x"></i>
            <h4 class="font-weight-normal text-dark">Enhanced For Printing</h4>

            <p>
              Support for printing any page. The invoice page
              makes a perfect example.
            </p>
          </div>
        </div>
        <!-- /.item -->

        <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
          <div class=" ">
            <i class="fa fa-bolt text-black-50 fa-2x"></i>
            <h4 class="font-weight-normal text-dark">Lightweight</h4>

            <p>
              Although AdminLTE is full of features, it was
              designed to be fast and lightweight.
            </p>
          </div>
        </div>
        <!-- /.item -->
        <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
          <div class=" ">
            <i class="fa fa-globe text-black-50 fa-2x"></i>
            <h4 class="font-weight-normal text-dark">Browser Compatibility</h4>

            <p>
              Support for most major browsers including Safari, IE9+, Chrome, FF, and Opera.
            </p>
          </div>
        </div>
        <!-- /.item -->

        <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
          <div class=" ">
            <i class="fa fa-th text-black-50  fa-2x"></i>
            <h4 class="font-weight-normal text-dark">Many Plugins</h4>

            <p>
              Over 18 plugins and an aditional 3 custom made
              plugins just for AdminLTE.
            </p>
          </div>
        </div>
        <!-- /.item -->
        <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
          <div class=" ">
            <i class="fa fa-users text-black-50 fa-2x"></i>
            <h4 class="font-weight-normal text-dark">Active Community</h4>

            <p>
              Have a suggestion or an issue?
              Visit our <a href="https://github.com/almasaeed2010/AdminLTE/issues">Github</a>
              repository to get help.
            </p>
          </div>
        </div>
        <!-- /.item -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>

  <div class="pt-5 pb-5 bg-light">
    <div class="container">
      <h2 class="text-center" style="margin-bottom: 40px">Issues &amp; Support</h2>

      <h5 class="text-center">
        For AdminLTE support, please visit our
        <a href="https://github.com/ColorlibHQ/AdminLTE/issues" class="text-decoration-none ">Github
          repository</a>
        and post your issue, suggestion, or contribution.
      </h5>

      <p>
        We try our best to provide support to the users of AdminLTE. Thanks to many of our users, AdminLTE has
        a great community support. We will try to respond to your post as soon as possible.
        For a faster response, please include as much information about your issue as possible.
      </p>
    </div>
  </div>

  <div class=" pb-5 pt-5">
    <div class="container">
      <h2 class="text-center ">About The Author</h2>

      <div class="d-flex flex-row">
        <div class="image ">
          <img class="img-responsive img-circle" src="https://adminlte.io/img/colorlib-logo.png" alt="Author Picture"
            style="width: 100px; height: 100px;">
        </div>
        <div class="pl-4">
          <h3>Colorlib</h3>

          <h4 class="font-weight-normal">
            Colorlib is the largest provider of free Bootstrap templates with more than 700 availabe and
            many more
            relased every day.
            They started with WordPress and slowly moved to other types of templates and themes such as
            admin
            templates, Shopify themes,
            Bootstrap templates, React, Angular and even Vue templates.
            Colorlib was launched in 2013 by Aigars Silkalns and since then have developed many open
            source
            project
            that have been used by millions of developers and users worldwide.
          </h4>
          <p>
            <a href="https://colorlib.com/wp/cat/bootstrap/" target="_blank">Learn more</a>
          </p>
        </div>
      </div>

    </div>
  </div>

  <!-- /.container -->


  <footer class="footer bg-dark text-white pb-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 align-middle">
          Copyright © 2014-2019 <b><a href="/" class="text-white text-decoration-none">AdminLTE</a></b>.
          All rights reserved.
          <b><a href="/privacy" class="text-white text-decoration-none">Privacy Policy</a></b>
        </div>
        <div class="col-sm-3 text-center">
          <a href="https://twitter.com/colorlib" class="btn btn-twitter btn-social" data-toggle="tooltip"
            data-placement="top" title="" data-original-title="Twitter Account"><i
              class="fa fa-twitter text-white "></i></a>
          <a href="https://www.facebook.com/colorlib" class="btn btn-facebook btn-social" data-toggle="tooltip"
            data-placement="top" title="" data-original-title="Facebook Page"><i
              class="fa fa-facebook text-white"></i></a>
          <a href="https://github.com/ColorlibHQ" class="btn btn-github btn-social" data-toggle="tooltip"
            data-placement="top" title="" data-original-title="Github Repositories"><i
              class="fa fa-github text-white"></i></a>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>