<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body class="p-0 mh-100 " data-spy="scroll">
  <div class="container pt-2 ">

    <div class="">
      <a class="navbar-brand float-left border border-info text-dark text-center" href="/" style="width: 120px;">
        <span class="font-weight-bold">Admin</span>LTE</a>
      <ul class="nav  justify-content-end">

        <li class="nav-item">
          <a class="nav-link active text-decoration-none text-dark font-weight-bold" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-secondary" href="#">Docs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-secondary" href="https://dashboardpack.com/">Premium
            Templates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-secondary" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-secondary" href="#">Subscribe</a>
        </li>
      </ul>
    </div>

  </div>

  <!-- end nav-bar  -->

  
    <div class="wrapper m-5 d-flex  ">
      <div class="sideMenu p-3 bg-transparent text-dark rounded col-2 text-uppercase ">
        <div class="sidebar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <!-- admin --> <% if(user) { %>
              <div class="float-right pt-5 pr-2 d-flex">
                <div class="dropdown">
                  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user pr-2 "> </i> <a class=""> <%= user.fullname %> </a>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form class="dropdown-item" action="/logout" method="POST">
                      <a class=" btn-sm text-danger"> Log out </a>
                    </form>
                  </div>
                </div><% } %>
              </div>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">
                <a class="btn text-decoration-none text-dark" data-toggle="collapse" data-target=".multi-collapse"
                  href="#collapseDashboard" role="button" aria-expanded="false"
                  aria-controls="#collapseDashboard #collapseHome">
                  <i class=" fa fa-dashcube "> Dashboard</i>
                </a>
              </a>
            </li>
            <li class=" nav-item">
              <a href="#" class="nav-link">
                <a class="btn text-decoration-none text-success" data-toggle="collapse" href="#collapseExample1" role="button"
                  aria-expanded="false" aria-controls="collapseExample1">
                  <i class="fa fa-folder "> Pages</i>
                </a>
              </a>
              <div class="collapse" id="collapseExample1">
                <a class="nav-link btn text-warning text-decoration-none" href="/login " method="POST" role="button"
                  aria-expanded="false">
                  <span class="text "> Log in</span>
                </a>
                <a class="nav-link btn text-info text-decoration-none" href="/register" method="POST" role="button"
                  aria-expanded="false">
                  <span class="text "> Register</span>
                </a>
              </div>

            </li>
            <li class=" nav-item">
              <a href="#" class="nav-link">
                <a class="btn text-warning text-decoration-none" data-toggle="collapse" href="#collapseExample2" role="button"
                  aria-expanded="false" aria-controls="collapseExample1">
                  <i class="fa fa-users "> Table </i>
                </a>
              </a>
              <div class="collapse" id="collapseExample2">
                <a class="nav-link btn text-secondary text-decoration-none" href="/users " method="POST" role="button"
                  aria-expanded="false">
                  <span class="text"> Users </span>
                </a>
              </div>

            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <a class="btn text-decoration-none text-danger" data-toggle="collapse" href="#" role="button" aria-expanded="false">
                  <i class="fa fa-database"></i>
                  <span class="text ">Charts</span>
                </a>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <a class="btn text-decoration-none text-info" data-toggle="collapse" href="#" role="button" aria-expanded="false">
                  <i class="fa fa-cog"></i>
                  <span class="text">Settings</span>
                </a>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <a class="btn text-decoration-none text-success" data-toggle="collapse" href="#" role="button" aria-expanded="false">
                  <i class="fa fa-tv"></i>
                  <span class=" text">Demo </span>
                </a>
              </a>
            </li>

          </ul>
        </div>

      </div>
      <div class="col-10 collapse show  multi-collapse" id="collapseHome">
        <div class=" pt-5 pb-3" style="display: block;">
          <div class="">
            <h2 class="text-center" style="margin-bottom: 40px"><b>Admin</b>LTE Features</h2>

            <div class="row text-center pb-3 ">
              <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
                <div class=" ">
                  <i class="fa fa-css3 text-black-50 fa-2x"></i>
                  <h4 class="font-weight-normal text-dark">HTML5 &amp; CSS3</h4>

                  <p>
                    Verified HTML5 and CSS3 syntax by W3C services.
                  </p>
                </div>
              </div>
              <!-- /.item -->

              <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
                <div class=" ">
                  <i class="fa fa-mobile text-black-50 fa-2x"></i>
                  <h4 class="font-weight-normal text-dark">Responsive Design</h4>

                  <p>
                    Mobile first design. Fits many resolutions, from
                    large desktops to small mobile devices.
                  </p>
                </div>
              </div>
              <!-- /.item -->
              <div class=""></div>
              <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
                <div class=" ">
                  <i class="fa fa-rocket text-black-50 fa-2x"></i>
                  <h4 class="font-weight-normal text-dark">1000+ Icons</h4>

                  <p>
                    Featuring Font Awesome, Ion Icons, and Glyphicons.
                  </p>
                </div>
              </div>
              <!-- /.item -->
              <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
                <div class=" ">
                  <i class="fa fa-paint-brush text-black-50 fa-2x"></i>
                  <h4 class="font-weight-normal text-dark">6 Skins</h4>

                  <p>
                    Choose a skin that matches your branding or
                    edit the LESS variables to create your own.
                  </p>
                </div>
              </div>
              <!-- /.item -->
              <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
                <div class=" ">
                  <i class="fa fa-print text-black-50 fa-2x"></i>
                  <h4 class="font-weight-normal text-dark">Enhanced For Printing</h4>

                  <p>
                    Support for printing any page. The invoice page
                    makes a perfect example.
                  </p>
                </div>
              </div>
              <!-- /.item -->

              <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
                <div class=" ">
                  <i class="fa fa-bolt text-black-50 fa-2x"></i>
                  <h4 class="font-weight-normal text-dark">Lightweight</h4>

                  <p>
                    Although AdminLTE is full of features, it was
                    designed to be fast and lightweight.
                  </p>
                </div>
              </div>
              <!-- /.item -->
              <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
                <div class=" ">
                  <i class="fa fa-globe text-black-50 fa-2x"></i>
                  <h4 class="font-weight-normal text-dark">Browser Compatibility</h4>

                  <p>
                    Support for most major browsers including Safari, IE9+, Chrome, FF, and Opera.
                  </p>
                </div>
              </div>
              <!-- /.item -->

              <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
                <div class=" ">
                  <i class="fa fa-th text-black-50  fa-2x"></i>
                  <h4 class="font-weight-normal text-dark">Many Plugins</h4>

                  <p>
                    Over 18 plugins and an aditional 3 custom made
                    plugins just for AdminLTE.
                  </p>
                </div>
              </div>
              <!-- /.item -->
              <div class="col-xs-12 col-sm-6 col-md-4 text-secondary pb-3">
                <div class=" ">
                  <i class="fa fa-users text-black-50 fa-2x"></i>
                  <h4 class="font-weight-normal text-dark">Active Community</h4>

                  <p>
                    Have a suggestion or an issue?
                    Visit our <a href="https://github.com/almasaeed2010LTE/issues">Github</a>
                    repository to get help.
                  </p>
                </div>
              </div>
              <!-- /.item -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container -->
        </div>

        <div class="pt-5 pb-5 bg-light">
          <div class="container">
            <h2 class="text-center" style="margin-bottom: 40px">Issues &amp; Support</h2>

            <h5 class="text-center">
              For AdminLTE support, please visit our
              <a href="https://github.com/ColorlibHQ/AdminLTE/issues" class="text-decoration-none ">Github
                repository</a>
              and post your issue, suggestion, or contribution.
            </h5>

            <p>
              We try our best to provide support to the users of AdminLTE. Thanks to many of our users,
              AdminLTE has
              a great community support. We will try to respond to your post as soon as possible.
              For a faster response, please include as much information about your issue as possible.
            </p>
          </div>
        </div>

        <div class=" pb-5 pt-5">
          <div class="container">
            <h2 class="text-center ">About The Author</h2>

            <div class="d-flex flex-row">
              <div class="image ">
                <img class="img-responsive img-circle" src="https://adminlte.io/img/colorlib-logo.png"
                  alt="Author Picture" style="width: 100px; height: 100px;">
              </div>
              <div class="pl-4">
                <h3>Colorlib</h3>

                <h4 class="font-weight-normal">
                  Colorlib is the largest provider of free Bootstrap templates with more than 700 availabe
                  and
                  many more
                  relased every day.
                  They started with WordPress and slowly moved to other types of templates and themes such
                  as
                  admin
                  templates, Shopify themes,
                  Bootstrap templates, React, Angular and even Vue templates.
                  Colorlib was launched in 2013 by Aigars Silkalns and since then have developed many open
                  source
                  project
                  that have been used by millions of developers and users worldwide.
                </h4>
                <p>
                  <a href="https://colorlib.com/wp/cat/bootstrap/" target="_blank">Learn more</a>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-10 collapse multi-collapse" id="collapseDashboard">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800 text-uppercase font-weight-bold">Dashboard</h1>
          <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
              class="fa fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>

        <!-- Content Row -->
        <div class="row">

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings
                      (Monthly)
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings
                      (Annual)
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Earnings (Monthly) Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                      </div>
                      <div class="col">
                        <div class="progress progress-sm mr-2">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
                            aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Pending Requests Card Example -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending
                      Requests
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Content Row -->
        <div class="row">

          <!-- Content Column -->
          <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
              </div>
              <div class="card-body">
                <h4 class="small font-weight-bold">Server Migration <span class="float-right">20%</span>
                </h4>
                <div class="progress mb-4">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Sales Tracking <span class="float-right">40%</span></h4>
                <div class="progress mb-4">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Customer Database <span class="float-right">60%</span>
                </h4>
                <div class="progress mb-4">
                  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Payout Details <span class="float-right">80%</span></h4>
                <div class="progress mb-4">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Account Setup <span class="float-right">Complete!</span>
                </h4>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>

            <!-- Color System -->
            <div class="row">
              <div class="col-lg-6 mb-4">
                <div class="card bg-primary text-white shadow">
                  <div class="card-body">
                    Primary
                    <div class="text-white-50 small">#4e73df</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card bg-success text-white shadow">
                  <div class="card-body">
                    Success
                    <div class="text-white-50 small">#1cc88a</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card bg-info text-white shadow">
                  <div class="card-body">
                    Info
                    <div class="text-white-50 small">#36b9cc</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card bg-warning text-white shadow">
                  <div class="card-body">
                    Warning
                    <div class="text-white-50 small">#f6c23e</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card bg-danger text-white shadow">
                  <div class="card-body">
                    Danger
                    <div class="text-white-50 small">#e74a3b</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card bg-secondary text-white shadow">
                  <div class="card-body">
                    Secondary
                    <div class="text-white-50 small">#858796</div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
              </div>
              <div class="card-body">
                <div class="text-center">
                  <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/undraw_posting_photo.svg"
                    alt="">
                </div>
                <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow"
                    href="https://undraw.co/">unDraw</a>, a constantly updated collection
                  of beautiful svg
                  images that you can use completely free and without attribution!</p>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on unDraw
                  →</a>
              </div>
            </div>

            <!-- Approach -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
              </div>
              <div class="card-body">
                <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS
                  bloat and
                  poor page performance. Custom CSS classes are used to create custom components and
                  custom
                  utility classes.</p>
                <p class="mb-0">Before working with this theme, you should become familiar with the
                  Bootstrap
                  framework, especially the utility classes.</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>




  <!-- /.container -->
  <div class="container text-center ">
    <a class=" py-3" href="/login " method="POST"> Login to view more </a>
    <a class=" py-3" href="/register " method="POST"> Create new account </a>
  </div>

  <footer class="footer bg-dark text-white pb-0 fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 align-middle">
          Copyright © 2014-2019 <b><a href="/" class="text-white text-decoration-none">AdminLTE</a></b>.
          All rights reserved.
          <b><a href="/privacy" class="text-white text-decoration-none">Privacy Policy</a></b>
        </div>
        <div class="col-sm-3 text-center">
          <a href="https://twitter.com/colorlib" class="btn btn-twitter btn-social" data-toggle="tooltip"
            data-placement="top" title="" data-original-title="Twitter Account"><i
              class="fa fa-twitter text-white "></i></a>
          <a href="https://www.facebook.com/colorlib" class="btn btn-facebook btn-social" data-toggle="tooltip"
            data-placement="top" title="" data-original-title="Facebook Page"><i
              class="fa fa-facebook text-white"></i></a>
          <a href="https://github.com/ColorlibHQ" class="btn btn-github btn-social" data-toggle="tooltip"
            data-placement="top" title="" data-original-title="Github Repositories"><i
              class="fa fa-github text-white"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>