<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body class="p-0 mh-100">
    <!-- navbar -->
    <% include ../partials/navbar %>
    <!-- end nav-bar  -->
    <div class="container  p-4 mt-5 w-50   bg-white shadow">
        <h3 class=" font-weight-bold text-center"> Login </h3>

        <form class=" py-3 " action="/login" method="POST">
            <div class="form-group ">
                <label for="email">Email </label>
                <input type="email" class="form-control " id="email" name="email" placeholder="Email">
            </div>

            <div class="form-group">

                <label for="password">Password</label>
                <input type="password" class="form-control " id="password" name="password" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary"> Log in </button>
        </form>
        <a class="" href="/register"> Creat new account </a>
    </div>

    <% include ../partials/footer %>
</body>

</html>