<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body class="p-0 mh-100 " data-spy="scroll">

    <% include ../partials/navbar %>
    <div class="container  mb-5 w-50   bg-white shadow">
        <h3 class=" font-weight-bold pt-3 text-center"> Sign up </h3>

        <form class="pb-2" action="/admin/register" method="POST">
            <div class="w-100">
                <% if(errors) { %>
                <% errors.forEach( error => { %>
                <p class="alert alert-danger">
                    <%= error.msg %> 
                </p>
                <% }) %>
                <% } %>
            </div>
            <div class="form-group d-lex">
                <label for="fullname ">Fullname </label>
                <input type="text" class="form-control " id="fullname" name="fullname" placeholder="Full name" required>
            </div>
            <div class="form-group d-lex">
                <label for="username">User name</label>
                <input type="text" class="form-control " id="username" name="username" placeholder="User name" required>
            </div>
            <div class="form-group d-lex">
                <label for="email">Email </label>
                <p class="text-danger error-field" data-location="email"></p>
                <input type="email" class="form-control " id="email" name="email" placeholder="Email" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <p class="text-danger error-field" data-location="password"></p>
                <input type="password" class="form-control " id="password" name="password" placeholder="Password"
                    required>
            </div>
            <div class="form-group">
                <label for="confirmpassword">Confirm password</label>
                <p class="text-danger error-field" data-location="confirmpassword"></p>
                <input type="password" class="form-control " id="confirmpassword" name="confirmpassword"
                    placeholder="Confirm password" required>
            </div>
            <button type="submit" class="btn btn-primary"> Sign up </button>
        </form>
        <a class="" href="/admin/login">Have an account ? Login </a>
    </div>


    <% include ../partials/footer %>
</body>
<!-- <script>
    $(document).ready(function () {
        if (errors.length > 0) {
            const elements = document.querySelectorAll('.error-field');
            for (let i = 0; i < elements.length; i++) {
                for (let j = 0; j < errors.length; j++) {
                    if (elements[i].dataset.location === errors[j].param) {
                        elements[i].innerHTML = errors[j].msg;
                    }
                }
            }
        }
    });
</script> -->

</html>