<footer class="footer bg-dark text-white pb-0 fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 align-middle">
                Copyright © 2014-2019 <b><a href="/" class="text-white text-decoration-none">AdminLTE</a></b>.
                All rights reserved.
                <b><a href="/privacy" class="text-white text-decoration-none">Privacy Policy</a></b>
            </div>
            <div class="col-sm-3 text-center">
                <a href="https://twitter.com/colorlib" class="btn btn-twitter btn-social" data-toggle="tooltip"
                    data-placement="top" title="" data-original-title="Twitter Account"><i
                        class="fa fa-twitter text-white "></i></a>
                <a href="https://www.facebook.com/colorlib" class="btn btn-facebook btn-social" data-toggle="tooltip"
                    data-placement="top" title="" data-original-title="Facebook Page"><i
                        class="fa fa-facebook text-white"></i></a>
                <a href="https://github.com/ColorlibHQ" class="btn btn-github btn-social" data-toggle="tooltip"
                    data-placement="top" title="" data-original-title="Github Repositories"><i
                        class="fa fa-github text-white"></i></a>
            </div>
        </div>
    </div>
</footer>