<div class="container pt-2 ">
    <div class="">
        <a class="navbar-brand float-left border border-info text-dark text-center" href="/" style="width: 120px;">
            <span class="font-weight-bold">Admin</span>LTE</a>
        <ul class="nav  justify-content-end">

            <li class="nav-item">
                <a class="nav-link active text-decoration-none text-dark font-weight-bold" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-decoration-none text-secondary" href="#">Docs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-decoration-none text-secondary" href="https://dashboardpack.com/">Premium
                    Templates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-decoration-none text-secondary" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-decoration-none text-secondary" href="#">Subscribe</a>
            </li>
        </ul>
    </div>

</div>