<div class=" shadow bg-dark pt-2 ">
    <div class=" ">
        <a class="navbar-brand float-left text-white  text-center" href="/" style="width: 120px;">
            <span class="font-weight-bold">Admin</span>LTE</a>
        <ul class="nav  justify-content-end">

            <li class="nav-item">
                <a class="nav-link active text-decoration-none text-white font-weight-bold" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-decoration-none text-white" href="#">Docs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-decoration-none text-white" href="https://dashboardpack.com/">Premium
                    Templates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-decoration-none text-white" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-decoration-none text-white" href="#">Subscribe</a>
            </li>
        </ul>
    </div>

</div>